<div class="container">
  <div class="row center">
    <div class="card hoverable">
      <div class="card-content">
        <div class="row">
          <div class="col m12">
            <%= render "form", post: @post %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>